<html>
  <head>
    <title>Sinatra App</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    <div class="content">
      <nav>
        <a href="/">People</a>
      </nav>

      <%= yield %>

    </div>
  </body>
</html>
